.wrapper-menu {
    /* width: 100px;
    text-align: center;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    height: calc(100% - 3rem);
    margin-right: 0; */
    /* background-color: #d8d8d8; */
}

.wrapper-menu .menu {
    background-color: #d8d8d8;
    height: 100%;
}

.wrapper-menu nav button {
    border: none;
    background: transparent;
    width: 100%;
    font-weight: lighter;
    font-size: 26px;
    color: #11447b;
    outline: none;
}

section {
    color: #11447b;
}

section h1 {
    font-size: 1.125rem;
    border-bottom: 1px solid gray;
    width: auto;
    display: inline-block;
    color: #11447b;
}

.profile {
    position: relative;
}

.profile section ul {
    margin: 0;
    padding: 0;
}

.profile .box-image {
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
}

.profile .rank {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    color: #28a745;
    cursor: pointer;
}

.profile section li {
    list-style: none;
}

.profile section li p:first-child {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.profile section li p:last-child {
    font-size: 1rem;
    font-weight: lighter;
}

.profile section li.social {
    font-size: 25px;
}

.profile section li.social a {
    font-size: 1rem;
    font-weight: lighter;
}

.profile section li  i {
    font-size: 1.3rem;
    margin-top: 2px;
}

#timeline {
    transition: heigth 2s ease-in-out;
}

.timeline .content-board {
    overflow-x: hidden;
}

.content-board {
    margin-bottom: 1.8rem;
}

.timeline .board {
    width: 100%;
    margin: 3rem 0 3rem;
    height: 170px;
    text-align: center;
    position: relative;
}

.timeline .board:after {
    content: "";
    width: 100%;
    height: 4px;
    background: #d8d8d8;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -2px;
}

.timeline .board ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.timeline .board ul li {
    position: relative;
    height: 170px;
    width: 70px;
    display: inline-block;
}

.timeline .board ul li button {
    width: 70px;
    height: 170px;
    /* height: 44px; */
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    font-size: 1.8rem;
    left: 0;
    text-align: left;
    color: #11447b;
    text-align: center;
    z-index: 2;
    outline: none;
}

.timeline .board ul li button:before {
    content: "";
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    border-radius: 50% 50%;
    background: #d8d8d8;
}

.timeline .board button i {
    display: block;
}

.timeline .board button .text-event {
    position: absolute;
    bottom: 65%;
    line-height: 16px;
}

.timeline .board button .text-event span {
    font-size: 12px;
}

.timeline .board li:nth-child(even) .text-event {
    bottom: 3%;
}

.timeline .board li:nth-child(even) {
    margin: 0 0 0 15px;
}


.timeline .board li:last-child {
    margin-left: 33px;
}


.timeline .board li:nth-child(4) {
    margin-left: 10px;
}

.timeline .board ul li button:not(.collapsed) {
    color: green;
}

.timeline .board ul li button:not(.collapsed):before {
    background: green;
}

/*

.timeline .board ul li:nth-child(odd) button{
    transform: rotateZ(-60deg);
    top: 8px;
}

.timeline .board ul li:nth-child(odd) button span{
    display: inline-block;
    transform: rotateZ(13deg);
}

.timeline .board ul li:nth-child(odd) button:before {
    margin-right: 10px;
}


.timeline .board ul li:nth-child(even) button{
    transform: rotateZ(-90deg);
    top: -4px;
}

.timeline .board ul li:nth-child(even) button span{
    display: inline-block;
    transform: rotateZ(40deg) translate(-122px, 50px);
    width: 109px;
    height: 44px;
}

.timeline .board ul li:nth-child(even) button:before {
    margin-left: 10px;
} */

.event-content section h1 {
    margin: 0 0 .5rem;
    font-size: 1.2rem;
}

.event-content section p {
    text-align: justify;
}

.event-content .stars {
    display: inline-block;
    color: #ccc;
    padding-left: 10px;
}

.event-content .stars i.active {
    color: #ffb30f;
}

.event-content h2 {
    margin: 0;
    font-size: .845rem;
    color: #ccc;
}

/* .event-content h2 span {
    font-size: .845rem;
} */

.process header {
    padding: 1.5rem 0 1rem;
}

.process header img {
    max-width: 200px;
    display: inline-block;
}

.process .open {
    margin-top: 1rem;
}

.process .open img {
    width: 60px;
    border-radius: 50% 50%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
}

.text-process {
    width: calc(90% - 60px);
    vertical-align: top;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}

.text-process h1 {
    font-size: 1.125rem;
    text-decoration: none;
    border-bottom: 0;
    color: #418dde;
    font-weight: lighter;
}

.text-process span {
    display: block;
}

.process header .corp {
    display: inline-block;
    vertical-align: top;
    font-size: 13.5px;
}

.process header .corp span {
    display: block;
}

.process header .corp .vacancy{
    font-weight: bold;
}

.process header .corp .local{
    font-weight: lighter;
}

.process ul {
    margin: 0;
    padding: 0;
}

.process li {
    list-style: none;
    color: #c0becb;
    position: relative;
    padding-left: 35px;
    margin-top: .8rem;
}



.process li:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50% 50%;
    background: #727272;
    position: absolute;
    top: 5px;
    left: 0;
}

.process li.success:before {
    background: green;
}

.process li.fail:before {
    background: red;
}

.process li.open:before {
    background: #13991c;
    border: 1px solid #727272;
}

.process li h1 {
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 0;
    color: #418dde;
    font-weight: lighter;
}

.related-files ul{
    margin:1.5rem 0 0;
    padding: 0;
}

#origin {
    padding-bottom: 3.5rem !important;
}

#origin p {
    margin: .845rem 0;
}

.related-files ul li {
    list-style: none;
    margin-bottom: .5rem;
}

.related-files ul li span {
    font-size: .845rem;
    color: #aaa;
}

.vacancy-profile {
    flex: 0 0 41.3%;
    max-width: 41.3%;
}

.vacancy-profile li {
    margin-top: 15px;
    list-style: none;
    transition: all .3s ease;
    cursor: pointer;
}

.vacancy-profile li:hover {
    background: #f7f6f6 !important;
}

.vacancy-profile li img {
    max-width: 100px;
    display: inline-block;
}

.vacancy-profile li .info {
    vertical-align: top;
    font-size: 13.5px;
}

.vacancy-profile li .info span {
    display: block;
}

.vacancy-profile li .info .vacancy{
    font-weight: lighter;
    font-size: 18px;
}

.vacancy-profile li .info .time{
    font-weight: lighter;
    font-size: 12px;
    margin-top: 8px;
}

.nav-menu {
    display: none;
}

.close-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 7;
}

#navbarToggleExternalContent {
    position: absolute;
    z-index: 8;
    left: 68px;
    top: 159px;
    width: 230px;
}

#navbarToggleExternalContent > div{
    background: #11447b;
}

#navbarToggleExternalContent > div ul {
    padding: 0;
    margin: 0;
}

#navbarToggleExternalContent > div li {
    height: 40px;
    border-bottom: 1px solid #418dde;
    list-style: none;
    color: white;
    transition: all .8s ease;
    text-align: center;
}

#navbarToggleExternalContent > div li:hover {
    background: #418dde;
}

#navbarToggleExternalContent > div li:last-child {
    border-bottom: 0;
}

#navbarToggleExternalContent > div li a {
    color: white;
    height: 40px;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
    display: block;
}

#navbarToggleExternalContent > div li a:hover {
    text-decoration: none;
}

.navbar-toggler .fa-bars:before {
    transition: all 1s ease-in-out;
}

.navbar-toggler:not(.collapsed) .fa-bars:before {
    content: "\f00d";
}

#process article {
    display: inline-block;
}

.open-all-events,.open-all-process {
    position: absolute;
    font-size: 12px;
    top: 15px;
    right: 15px;
    width: 118px;
}

/* .wrapper-menu, #profile, #timeline, #process, #vacancy {
    display: none;
} */

@media (min-width: 1400px) { 
    .container {
        max-width: 1360px;
    }
}

@media (max-width: 1655px) {

}

@media (max-width: 1400px) {
    .vacancy-profile {
        flex: 0 0 39.5%;
        max-width: 39.5%;
    }
}

@media (max-width: 1200px) {
    .wrapper-menu {
        position: relative;
        width: 100%;
        height: 55px;
        max-width: 1360px;
        margin: 0 auto 1.5rem;
        top: 0;
        left: 0;
        text-align: left;
        padding-left: 15px;
    }

    .wrapper-menu.col-1 {
        flex: 100%;
        max-width: 1360px;
    }

    .wrapper-menu nav button {
        width: auto;
        display: inline-block;
        margin: 8px 13px 0!important;
    }

    #navbarToggleExternalContent {
        left: 167px;
        top: 55px;
    }
    
    .vacancy-profile {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-7 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 1030px) {

    .col-7 {
        margin: 0;
        padding-right: 0 !important;
    }

    .container {
        margin-top: 60px;
    }

    #navbarToggleExternalContent {
        left: auto;
        right: 0;
        z-index: 12;
        text-align: center;
    }

    .wrapper-menu {
        position: fixed;
        top: 0;
        z-index: 12;
        text-align: right;
        padding: 0 !important;
    }

    .nav-menu {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 5;
        box-shadow: 0 .125rem .85rem rgba(0,0,0,.25)!important;
    }
    
    .nav-menu ul {
        margin: 0;
        padding: .5rem 0;
    }

    .nav-menu li {
        display: inline-block;
        margin: 0 .5rem;
    }

    .profile .box-image {
        text-align: center;
    }

    .profile.col-3, .col-1,
    #process .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    #process {
        margin-top: 1rem!important;
    }

    #process h1 {
        margin-top: 1.8rem;
    }

    /* .profile img.w-100 {
        width: auto !important;
        height: 150px;
    } */

    .profile section li p {
        width: 100%;
    }

    section h1 {
        font-size: 1.2rem;
    }

    .open-all-events {
        float: none !important;
        margin-bottom: 1rem;
    }

    .col-8 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .row.h-100.pl-3 {
        padding-left: 0 !important;
    }

    .timeline .board:after {
        width: 4px;
        height: 100%;
        top: 0;
        left: 11px;
        margin-top: 0;
    }

    .timeline .board ul li {
        position: relative;
        height: 60px;
        width: auto;
        display: list-item;
        text-align: left;
        list-style: none;
        margin: 0 0 15px !important;
    }


    
    .timeline .board ul li:nth-child(odd) button,
    .timeline .board ul li:nth-child(even) button{
        position: relative;
        height: auto;
        padding-left: 11%;
        width: auto;
    }

    .timeline .board button .text-event {
        position: relative;
    }

    .timeline .board ul li button:before {
        left: 5.45px;
    }

    .timeline .content-board {
        height: 300px;
        margin: 0 0 2.5rem;
    }

    .timeline .board {
        width: 100%;
        margin: 1.5rem 0 .8rem;
        height: auto;
        position: relative;
    }

    .timeline .board ul li:empty {
        display: none;
    }

    .profile section li p:last-child {
        font-size: 16px;
    }

    .timeline {
        margin-top: 1.2rem;
    }

    .event-content section p {
        font-size: .9rem;
    }

    .process li h1 {
        font-size: 1.3rem;
    }

    .profile section li.social a {
        font-size: 1rem;
    }
}